@model FLAMOM_SeniorProject.ViewModel.DentalHealthVM

@{
    ViewData["Title"] = "Dental Health";
}
<script>
function submitWith(){   
     var vrfv = validateReasonForVisit();
    var hab = validateHeardAbout();

    var valid = vrfv || hab;

    return valid;
}
function validateHeardAbout() {
    var FamilyMemberFriend = $('#FamilyMemberFriend').checked
    var Television = $('#Television').checked
    var Radio = $('#Radio').checked
    var Newspaper = $('#Newspaper').checked
    var Internet = $('#Internet').checked
    var DoctorOffice = $('#DoctorOffice').checked
    var CenterClinic = $('#CenterClinic').checked
    var Hospital = $('#Hospital').checked
    var Religious = $('#Religious').checked
    var Work = $('#Work').checked
    var Other = $('#Other').checked

     var valid = FamilyMemberFriend || Television || Radio || Newspaper || Internet || DoctorOffice || CenterClinic|| Hospital || Religious || Work || Other;

     if(!valid){
         $('#validationMessageReasonForVisit').html('The HeardAbout field is required.');
    }
    return valid ;   
}
function validateReasonForVisit() {
    var cleaningChecked = $('#Cleaning').checked;
    var fillingChecked = $('#Filling').checked;
    var extractionChecked = $('#Extraction').checked;
    var valid = cleaningChecked || fillingChecked || extractionChecked;

    if(!valid){
         $('#validationMessageHeardAbout').html('The ReasonForVisit field is required.');
    }
    return valid ;   

}
</script>

<h4>Dental Health</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DentalHealth">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.MouthPain)
            <div class="form-group">
                <label  class="control-label">1. What is the reason for your visit today?</label>
                    <div>@Html.CheckBoxFor(model => model.Cleaning) Cleaning</div>
                    <div>@Html.CheckBoxFor(model => model.Filling) Filling</div>
                     <div> @Html.CheckBoxFor(model => model.Extraction) Extraction</div>
                     <span id="validationMessageReasonForVisit" class="text-danger" />
            </div>
            <br />
            <div class="form-group">
                <label  class="control-label">2. Are you having pain anywhere in your mouth today?</label>
                    <div>@Html.RadioButtonFor(model => model.MouthPain, "true") Yes→ go to #3</div>
                     <div>@Html.RadioButtonFor(model => model.MouthPain, "false") No→ SKIP to #4</div>
                        <span asp-validation-for = "MouthPain" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label  class="control-label">3. How long have you had this pain?</label>
                    <div>@Html.RadioButtonFor(model => model.LengthOfPain, "1 month or less") 1 month or less</div>
                     <div>@Html.RadioButtonFor(model => model.LengthOfPain, "More than 1 month, but not more than 1 year") More than 1 month, but not more than 1 year</div>
                       <div>@Html.RadioButtonFor(model => model.LengthOfPain, "More than 6 months, but not more than 1 year") More than 6 months, but not more than 1 year</div>
                        <div>@Html.RadioButtonFor(model => model.LengthOfPain, "More than 1 year") More than 1 year</div>
                        <span asp-validation-for = "LengthOfPain" class="text-danger"></span>
                    </div>
                    <br />
             <div class="form-group">
                <label  class="control-label">4. In general, how would you rate your overall health?</label>
                    <div>@Html.RadioButtonFor(model => model.OverallHealth, "Excellent") Excellent</div>
                    <div>@Html.RadioButtonFor(model => model.OverallHealth, "Very good") Very good </div>
                    <div>@Html.RadioButtonFor(model => model.OverallHealth, "Good") Good</div>
                    <div>@Html.RadioButtonFor(model => model.OverallHealth, "Fair") Fair</div>
                    <div>@Html.RadioButtonFor(model => model.OverallHealth, "Poor") Poor</div>
                     <span asp-validation-for = "OverallHealth" class="text-danger"></span>
             </div> 
             <br />
             <div class="form-group">
                <label  class="control-label">5. How much time did it take you to travel here today?</label>
                    <div>@Html.RadioButtonFor(model => model.TimeToTravel, "0-15 minutes") 0-15 minutes</div>
                    <div>@Html.RadioButtonFor(model => model.TimeToTravel, "16-30 minutes") 16-30 minutes </div>
                    <div>@Html.RadioButtonFor(model => model.TimeToTravel, "31-60 minutes") 31-60 minutes</div>
                    <div>@Html.RadioButtonFor(model => model.TimeToTravel, "More than 1 hour, but not more than 2 hours") More than 1 hour, but not more than 2 hours</div>
                    <div>@Html.RadioButtonFor(model => model.TimeToTravel, "More than 1 hour, but not more than 2 hours") More than 1 hour, but not more than 2 hours</div>
                     <span asp-validation-for = "TimeToTravel" class="text-danger"></span>
             </div> 
             <br />
             <div class="form-group">
                <label  class="control-label">6. How did you hear about the Florida Mission of Mercy clinic? Mark all that apply.</label>
                    <div>@Html.CheckBoxFor(model => model.FamilyMemberFriend) Family member or friend</div>
                    <div>@Html.CheckBoxFor(model => model.Television) Television</div>
                     <div> @Html.CheckBoxFor(model => model.Radio) Radio</div>
                     <div>@Html.CheckBoxFor(model => model.Newspaper) Newspaper</div>
                    <div>@Html.CheckBoxFor(model => model.Internet) Internet – Facebook, Twitter, Blog, or other website</div>
                     <div> @Html.CheckBoxFor(model => model.DoctorOffice) Doctor’s office</div>
                     <div>@Html.CheckBoxFor(model => model.CenterClinic) Health center/clinic</div>
                    <div>@Html.CheckBoxFor(model => model.Hospital) Hospital</div>
                     <div> @Html.CheckBoxFor(model => model.Religious) Church or other religious organization</div>
                     <div>@Html.CheckBoxFor(model => model.Work) At work</div>
                    <div>@Html.CheckBoxFor(model => model.Other) Other (describe: )</div>
                    <span id="validationMessageHeardAbout" class="text-danger" />
                     
            </div>
            <br />
            <div class="form-group">
                <label  class="control-label">7. Did you attend the Florida Mission of Mercy clinic in Jacksonville in July 2021?</label>
                    <div>@Html.RadioButtonFor(model => model.AttendBefore, "true") Yes</div>
                    <div>@Html.RadioButtonFor(model => model.AttendBefore, "false") No </div>
                    
                     <span asp-validation-for = "AttendBefore" class="text-danger"></span>
             </div> 
             <br />
            <div class="form-group">
                <input onclick="return submitWith();" type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
